/*//////// ALL /////////*/
body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: whitesmoke;
}


/*//////// NAVIGATION /////////*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3vh;
}

.left-side {
    display: flex;
    align-items: center;
}

.nav-wrapper > .left-side > div {
    margin-right: 1.8vw;
    font-size: min(max(0.7em,2vw),1.5em);
    text-transform: uppercase;
}

.nav-link-wrapper {
    
}

.nav-link-wrapper a {
    color: slategrey;
    text-decoration: none;
}

.nav-link-wrapper:hover {
    color:black ;
}

.active-nav-link {
    color: black;
}

.active-nav-link a {
    color:black !important;
}


/*//////// BRANDING /////////*/
.right-side {
    display:inline-flex;
}

.brand {
    font-size: min(max(0.7em,2vw),1.5em);
}

.fa {
    padding: 1vw;
    font-size: min(max(0.7em,2vw),1.5em);
    width: 3vw;
    text-align: right;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.8;
}

.fa-linkedin {
    color: slategrey;
}

.fa-twitter {
    color: slategrey;
}

.fa-github {
    color: slategrey;
}


/*//////// HOME /////////*/
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: min(max(0.9em,1vw),1.5vw);
}

.about-me-image {
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 43vh;
}


/*//////// CAREER /////////*/
.Courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Courses-elements {
    position: relative;
}

.Courses-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 38vh;
    width: 100%;
}

.Courses-subjects {
    position: absolute;
    text-align: center;
    top: -4.1vh;
    color: White;
    width: 100%;
    font-size: min(max(0.5em,3vw),2em);
}

.Courses-names {
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: White;
    height: 100%;
    width: 100%;
    font-size: min(max(0.2em,1.5vw),1em);}

ul {
    display: table;
    margin: 0 auto;
    list-style: none;
}

.articles {
    text-decoration: none;
    color: transparent;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    transition: 0.5s;
    color: black;
}

.subtitle {
    font-size: 1.4em;
}

.Courses-names .subtitle {
    transition: 0.5s;
    color: transparent;
    font-weight: 400;
    width: 100%;
}

.Courses-names:hover .subtitle {
    color: White;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100%;
}

.Courses-names:hover .articles {
    color:grey;
}

.Career-sep {
    margin-left: 11vw;
    margin-top: 6vh;
    font-size: 1.3em;
    font-size: min(max(0.5em,2.5vw),1.6em);
}

.image-blur {
    transition: 0.5s;
    filter: brightness(20%);
}

.Lab-desc {
    text-align: left;
    padding-left: 10vw;
    padding-right: 20vw;
    font-size: min(max(1em,2vw),1.2em);
}

.MSTP {
    display: grid;
    grid-template-columns: 1fr;
}

.MSTP-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
}


/*//////// CAREER /////////*/
.Misc-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    min-height: 25vw;
    padding-right: 10vw;
    padding-left: 10vw;
}

.Misc-topic {
    font-size: min(max(2em,10vw),8vw);
    font-size: alc(2em + 2.5vw);
    font-family: 'Big Shoulders Text', cursive;
}

.Misc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100%;
    font-size: min(max(1em,2vw),2em)
}

/*//////// FOOTER /////////*/

.footer {
    position:relative;
    text-align:right;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
